<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="/scripts/cartScript.js" defer></script>
    <script src="/scripts/mobileMenuToggle.js" defer></script>
    <title>Products</title>
</head>
<body>
    <div id="backdrop" class="hidden absolute top-0 left-0 w-full h-full bg-black/20"></div>
    <header class="bg-black">
        <div class="pt-4 px-4 mx-auto max-w-6xl">
            <div class="flex justify-between items-center border-b-[0.1px] border-white/20 pb-4">
                <div class="flex space-x-6 lg:hidden">
                    <div id="hamburger" class="lg:hidden hover:cursor-pointer">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    <img src="/assets/SVGs/logo.svg" class="hidden md:block lg:hidden">
                    
                </div>
                <img src="/assets/SVGs/logo.svg" class="md:hidden lg:block">
                <div class="hidden lg:flex space-x-8 text-white mr-8">
                    <a href="/" class="text-sm hover:text-darkPink duration-500">HOME</a>
                    <a href="/products/speaker" class="text-sm hover:text-darkPink duration-500">SPEAKERS</a>
                    <a href="/products/headphone" class="text-sm hover:text-darkPink duration-500">HEADPHONES</a>
                    <a href="/products/earphone" class="text-sm hover:text-darkPink duration-500">EARPHONES</a>
                </div>
                <!-- CART -->
                <%- include('include/cart.ejs') %>
                <!-- END OF CART -->
                <%- include('include/mobileMenu.ejs') %>
            </div>
            <div id="title" class="flex justify-center items-center py-8 bg-black text-white">
                <h2 class="font-bold"><%= locals.category %></h2>
            </div>
        </div>
    </header>

    <section>
        <ul id="products" class="max-w-6xl mx-auto px-4 my-28">

            <% for(const item of fetched){ %>
                <li class="flex flex-col items-center justify-between space-y-6 lg:flex-row lg:space-y-0 lg:space-x-8">
                    <img src=<%= item.dataValues.images[0].url %> alt="" class="lg:w-1/2 lg:h-full md:h-[32rem] w-full">
                    <div class="flex flex-col items-center justify-start lg:items-start">
                        <% if(item.dataValues.isNew == 'YES'){ %>
                            <p class="text-darkPink tracking-widest mb-4">NEW PRODUCT</p>
                        <% } %>
                        <h2 class="text-4xl text-center lg:text-left max-w-sm mb-6">XX99 MARK || HEADPHONES</h2>
                        <p class="mb-8 text-center lg:text-left max-w-xs md:max-w-md lg:max-w-xs"><%= item.dataValues.description %></p>
                        <a href="/product/<%= item.dataValues.id %>" class="bg-darkPink max-w-fit px-4 py-2 text-white tracking-tight hover:bg-pink duration-500">SEE PRODUCT</a>
                    </div>
                </li>
            <% } %>
            
        </ul>
    </section>

   <%- include('include/shop.ejs') %>

    <section id="Gear">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex flex-col space-y-12 lg:flex-row-reverse lg:space-y-0 items-center justify-center my-8">
                <img src="/assets/images/image-best-gear.jpg" alt="" class="flex-1 w-full">
                <div class="flex flex-col space-y-4 items-center lg:items-start flex-1">
                    <h2 class="text-4xl text-center lg:text-left max-w-sm">BRINGING YOU THE <span class="text-darkPink">BEST</span>AUDIO GEAR</h2>
                    <p class="max-w-md text-center lg:text-left">
                        Located at the heart of New York City, Audiophile 
                        is the premier store for high end headphones, earphones, speakers, and
                        audio accessories. We have a large showroom and luxury 
                        demonstration rooms available for you to browse and 
                        experience a wide range of our products. Stop by our
                        store to meet some of the fantastic people who make
                        Audiophile the best place to buy your
                        portable audio equipment.
                    </p>
                </div>
            </div>
        </div>
    </section>

   <%- include('include/footer.ejs') %>


</body>
</html>